/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

p {
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}

p em {
    font-style: italic;
    color: #555;
}

input[type="file"] {
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
