<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MailConverter API Test Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<h2>MailConverter API Test Form</h2>


<form action="/api_test_form" method="post" enctype="multipart/form-data">
    <p>API URL: {{ api_endpoint }}</p>
    <label for="file">Select a file:</label>
    <input type="file" name="file" id="file" accept="{{ allowed_extensions_string }}" required>
    <p>Allowed file extensions: <em>{{ allowed_extensions_string }}</em><br>
    For manual test: <em>curl -X POST -F "file=@./path_to_file.eml" {{ api_endpoint }}</em>
    </p>
    <br>
    <input type="submit" value="Send Request to API">
    <p>API response codes:
    <pre>
        200 - Ok
        401 - No file part
        402 - No selected file
        403 - Wrong extension
        404 - No result file after conversion run.
    </pre>
    </p>
</form>

<div id="api-response">
    {% if success_message %}
        <p style="color: green;">{{ success_message }}</p>
        <p>API Response Headers: <br><pre>{{ api_response_headers }}</pre></p>
        <p>Download the response file: <a href="{{ download_link }}" target="_blank">{{ download_filename }}</a></p>
    {% elif error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
</div>

</body>
</html>
